      <a href="/" id="logo">
        <img src="https://dyoh0.github.io/chalkboard/public/img/chalkboard.png" alt="A chalkboard" width="55" />
      </a>
      <label for="hamburger">&#9776;</label>
      <input type="checkbox" id="hamburger" />

      <ul id="headerbar">
        <li><a href="/">Home</a></li>
        <li><a href="https://dyoh0.github.io/chalkboard/HTML/searchresults.html">Search</a></li>
        
        <li><form action = "/logout?_method=DELETE" method="POST">
      <button type = "submit">Log out </button></form></li>
      </ul>