<!DOCTYPE html>
<!--
Name: Minjae Kim
Date: 10.31.2021
Course: CS 355
This is the editcourse page of our website. It provides basic html layouts of what editcourse page will contain
-->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/editcourse.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <script src="../JS/editcourse.js" defer></script>
    <title>Edit Course</title>
  </head>
  <body>
    <header>
    <%- include('./partials/header') %>
    </header>

    <form id = "editform">
      <h1>Edit Course</h1>
      <ul class="no-bullets">
        <% data.forEach((course) => { %>
          <li>
            <input type="radio" id=<%=course.id%> name="coursechoice" value="Course1" required />
            <label for=<%=course.id%> class="courselabels"><%= course.coursename %></label>
          </li>
        <% }) %>
      </ul>

      <div class="buttons">
        <input type="button" id="editbtt" name="Edit" value="Edit" />
        <input type="button" id="deletebtt" name="Delete" value="Delete" />
      </div>
    </form>
  </body>
</html>
