<!DOCTYPE html>
<!--
Name: Daniel Yoh
Date: 10.22.2022
Course: CS 355
This is the homepage and index.html file of our website.  It displays a list of enrolled courses and a special sidebar for only the instructor.
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/index.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <title>Home Page</title>
  </head>
  <body>
    <header>
    <%- include('./partials/header') %>
    </header>
    
    <% if (accounttype == "Instructor" || accounttype == "Admin") { %>
      <div id="imgcontainer">
        <nav>
          <ul id="instructorlist">
            <li><a href="/">Home</a></li>
            <li><a href="/searchresults">Search</a></li>
            <li><a href="/createcourse">Create Course</a></li>
            <li><a href="/createassignment">Create Assignment</a></li>
            <li><a href="/editcourse">Edit Course</a></li>
            <li><a href="/studentroster">Student Roster</a></li>
            <li><a href="/acceptreject">Enrollment Requests</a></li>
            <li><a href="/gradelist">Grade Assignments</a></li>
            <% if (accounttype == "Admin") {%>
              <li><a href="/adminpage">Admin View</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    <% } %>
    <main>
      <h1>Enrolled Courses</h1>
      <ul id="courselist">
        <li><a href="/course">Course Name #1</a></li>
        <li><a href="">Course Name #2</a></li>
        <li><a href="">Course Name #3</a></li>
      </ul>
    </main>
  </body>
</html>