<!DOCTYPE html>
<!--
Name: Daniel Yoh
Date: 10.10.2022
Course: CS 355
This is the login page of our website that allows students or instructors to log into the site.
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/CSS/login.css" />
    <title>Login Page</title>
  </head>
  <body>
    <h1>Login</h1>

    <form action="/login" method="POST">
    <p><% if (messages.error) { %>
      <%= messages.error %>
    <% } %></p>
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" placeholder="Email Address" class="textinput" required />

      <label for="password">Password:</label>
      <input type="password" name="password" id="password" placeholder="Password" class="textinput" required />
      <p>Are you a...</p>

      <span id="stuinstrucchoice">
        <input type="radio" id="student" name="accounttype" value="Student" required />
        <label for="student" class="stuinstrucchoice">Student</label>
        <input type="radio" id="instructor" name="accounttype" value="Instructor" required />
        <label for="instructor" class="stuinstrucchoice">Instructor</label>

        <span id = "adminchoice"><input type="radio" id="admin" name="accounttype" value="Admin" required />
        <label for="admin" class="stuinstrucchoice">Admin</label></span>
      </span>

      <input type="submit" value="Sign in" class="button" />
      <p>
        Or...
        <a href="/signup">Sign up</a>
      </p>
    </form>
    <img
      src="../img/chris-montgomery-smgTvepind4-unsplash.jpg"
      alt="Coffee and laptop on a table, laptop has a zoom call open"
      width="600"
    />
  </body>
</html>