<!DOCTYPE html>
<!--
Name: Daniel Yoh
Date: 10.11.2022
Course: CS 355
This is the search and search results page of our website.  People can search for courses here and the page
will display results matching their search string.
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../CSS/searchresults.css" />
    <link rel="stylesheet" href="../CSS/header.css" />
    <title>Search Results</title>
  </head>

  <body>
    <header>
    <%- include('./partials/header') %>
    </header>

    <div id="searchbar">
      <img src="../img/magnifying-glass-ga7dc5fc0e_640.jpg" alt="A magnifying glass" width="25" />
      <input type="text" id="searchterm" placeholder="Search for Courses" />
      <button type="submit" value="searchbutton">Search</button>
    </div>

    <main>
      <h1>
        Search results for:
        <span id="spansearchterm">Physics</span>
      </h1>
      <form>
        <ul>
          <li class="list">
            <div class="classchoice">
              <input type="checkbox" id="courseresult1" name="courseresult1" value="courseresult1" />
              <label for="courseresult1">
                Physics I
                <span class="classdesc">Introductory course on basic physics.</span>
              </label>
            </div>

            <div class="classchoice">
              <input type="checkbox" id="courseresult2" name="courseresult2" value="courseresult2" />
              <label for="courseresult2">
                Astrophysics
                <span class="classdesc">Course on the physics of space.</span>
              </label>
            </div>
          </li>
        </ul>
        <button type="submit" class="submitbutton" value="enrolledcourses">Enroll</button>
      </form>
    </main>
  </body>
</html>
