a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: inherit;
}

#imgcontainer {
  background-image: url(../img/notepadimg.png);
  background-size: 265px 100%;
  background-repeat: no-repeat;
  float: left;
  margin-left: 2vw;
  margin-top: 2vw;
}

nav {
  font-size: 1.2em;
  margin-top: 3vw;
  border: 1px solid rgb(200, 200, 200);
  width: 263px;
}

nav li {
  list-style: none;
  margin: 10px;
  padding-right: 25px;
}

main {
  margin-top: 3vw;
  margin-left: 30vw;
}

main li {
  list-style: none;
  font-size: 2em;
  border: 40px;
  padding: 20px;
}

@media screen and (max-width: 1520px) {
  main {
    margin-left: 40vw;
  }
}

@media screen and (max-width: 1120px) {
  main {
    margin-left: 35vw;
    font-size: 0.9em;
  }

  #imgcontainer {
    padding-top: 18px;
  }
}

@media screen and (max-width: 910px) {
  main {
    margin-left: 45vw;
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 630px) {
  #imgcontainer {
    display: inline-block;
    width: 100%;
    margin-bottom: 25px;
    padding-top: 11px;
  }

  main {
    float: none;
    margin-left: 15vw;
  }

  h1 {
    font-size: 1.8em;
  }

  #courselist {
    font-size: 0.8em;
    padding-left: 0;
  }
}
