ul {
  list-style-type: none;
  padding: 0;
  margin: 2%;
}

.list {
  margin: 1%;
}

p {
  text-align: left;
}

#searchbar {
  margin: 2%;
}

.submitbutton {
  margin-left: 3%;
}

h1 {
  margin: 25px;
}

.classchoice {
  display: block;
  margin: 20px;
  font-size: 1.2em;
}

@media only screen and (max-width: 555px) {
  .classchoice {
    font-size: 1em;
  }
}
